h1{
    color:rgb(47, 0, 255)
}

p{
    color:black
}

*{
    font-family: "maven pro",sans-serif;
    margin:0
    padding:0
}

header{
    background-color:beige
    margin-botton:10px;
    padding-botton:10px;
}